.alarm {
  width: calc(100vw - 6px);

  &.editable {
    cursor: pointer;
  }

  @media (min-width: 720px) {
    flex-direction: column;
  }
}

.days {
  text-overflow: ellipsis;
  overflow: hidden;
}

#remove {
  transform: scale(0.6);
}

#more {
  transform: scale(0.6);
}

// ion-content {
//   > ion-grid {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }
